.popup__input-submit {
  margin: 48px auto 37px;
  padding: 0;
  width: 358px;
  height: 50px;
  background-color: #000000;
  border-radius: 2px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  display: block;
}

@media screen and (max-width: 930px) {
  .popup__input-submit {
    margin-top: 45px;
    margin-bottom: 25px;
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}

.popup__input-submit:hover {
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}