.popup__input-name {
  margin: 54px auto 30px;
  padding: 0;
  width: 358px;
  height: 27px;
  display: block;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 930px) {
  .popup__input-name {
    margin: 75px auto 30px;
    width: 238px;
  }
}