.profile__button_edit {
  margin-left: 18px;
  width: 24px;
  height: 24px;
  background-image: url(../../../../images/edit-button.svg);
  border: 1px solid #FFFFFF;
}

@media screen and (max-width: 930px) {
  .profile__button_edit {
    margin-left: 10px;
    width: 18px;
    height: 18px;
  }
}